body, html {
  font-family: "Raleway", sans-serif !important;
  height: 100%;
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.35); /*dim the background*/ 
}

h1{
    color: #404143;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 6.2em;
}

p, li, h2, h3 {
  color: #5c8f26;
  position: relative;
  font-family: "Raleway", sans-serif;
}

h4, h5 {
  color: #fff;
  font-weight: 300;
  position: relative;
  font-family: "Raleway", sans-serif;
}

.header{
    font-size: 3em;   
    padding-top: 5%;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 4%;
    width: 100%;
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.footer p{
    float: left;   
    margin: 8px;
}

.footer ul li{
    list-style-type: none;
    display: inline;
    float: right;
    padding: 4px;
}

.section{
    min-height: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#landing {
  background-image: url(../images/Strip.jpg);
  text-align: right;
}
#about {
  background-image: url(../images/Polygon.jpg);
  text-align: left;
}
#portfolio {
  background-image: url(../images/SoftPolygon.jpg);
  text-align: left;
}
#contact {
    background-image: url(../images/Desert.JPG);
    text-align: left;
}

#about .row{
    max-width: 70em;
}

.profile-image{
    border-radius: 350px;
    height: 40%;
    width: 40%;
}

.textbox {
  width: 60%;
  margin: 0 20%;
}
.profile-info{
    font-size: 1.2em;   
}

.margin-top5{
  margin-top: 5%;   
}
.margin-top10{
  margin-top: 10%;   
}
.margin-top15{
  margin-top: 15%;   
}
.margin-right10{
    margin-right: 10%;   
}
.margin-LR5{
    margin: 0 5%;   
}
.padding-top5{
  padding-top: 5%;   
}
.padding-top10{
  padding-top: 10%;   
}
.padding-right5{
  padding-right: 5%;   
}
.padding-right10{
    padding-right: 10%;   
}
.padding-LR15{
    padding: 0 15%;   
}

.center-vertical{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*Color Classes*/
.white{
    color: #fff;   
}