body{
    font-family: "Raleway", sans-serif;
}

h1,h2,h3,h4,h5,h6,p,li{
    font-family: "Raleway", sans-serif;
}

.top-bar-section ul li > a{
    font-family: "Raleway", sans-serif;
}

#hero-home{
    height: 40%;
    background: url(../images/Desert.JPG);   
    background-size: cover;
}
#intro-home{
    text-align: center;
    padding: 3% 20%;
    background-color: #141519;
}
#featured-home{
    padding: 2% 0;
    text-align: center;   
}   
#contact-home{
    padding: 5% 0;
    background-color: #141519;
}

#footer{    
    background-color: #b8b8b8;
}
#footer row{
    padding: 0;
    margin: 0;
}

.feature-image{
    margin: 5% 3%;
}
.pad-top5{
    padding-top: 5%;   
}
.margin-top5{
    margin-top: 5%;
}
.underline{
    text-decoration: underline;
}